REDIS_PASSWORD=changeme
FRONTEND_PORT=3000
REDIS_CPU_LIMIT=0.50
REDIS_MEMORY_LIMIT=128M
API_CPU_LIMIT=1.00
API_MEMORY_LIMIT=256M
WORKER_CPU_LIMIT=1.00
WORKER_MEMORY_LIMIT=128M
FRONTEND_CPU_LIMIT=0.50
FRONTEND_MEMORY_LIMIT=128M
